.card {
    transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
   text-decoration: none;
   color: white;
   
  }
  
  .card:hover,
  .card:focus {
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
  }

  .appNotes{
   
    padding-top: 2rem;
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    &__create_editTags{
      display: flex;
      column-gap: 10px;
    }
    &__search_select{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      .appNotes__search{
        width: 100%;
      }
      .appNotes__tags{
        width: 100%;
        color: black;
      }
    }
  }



.appNotes__noteCardWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1rem));
  justify-content:space-evenly;
  gap: 10px;
  padding: 1rem;    
  .noteCard{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
   text-decoration: none;
   color: white;  
  //  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
   box-shadow: var(--shadow);
  &:hover,
  &:focus {
    translate: 0 -5px;
  }
  &__link{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
  &__tagsWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10px 0px;
  }
  &__tag{
    background-color: rgb(0, 110, 255);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    font-size: 14px;
  }
  }
}



/*//!editModalTags */
.editTagsModal{
  color:black;
  padding: 7%;
  display: grid;
  gap: 10px;
  overflow-y: scroll;
  height: auto;
  border: 11px solid red;
  &__tagWrapper{
    display: flex;
  }
}